# # remove www
# <IfModule mod_rewrite.c>
# RewriteEngine On
# RewriteCond %{HTTPS} !=on
# RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
# RewriteRule ^ http://%1%{REQUEST_URI} [R=301,L]
# </IfModule>

# # add www
# <IfModule mod_rewrite.c>
# RewriteEngine On
# RewriteCond %{HTTP_HOST} !^www\.
# RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]
# </IfModule>

# prevent trace and track methods (could be exploited)
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_METHOD} ^(TRACE|TRACK)
RewriteRule .* - [F]
</IfModule>

# prevent framing and remove PHP info 
# (also set ServerSignature Off and ServerTokens Prod in apache config)
<IfModule mod_headers.c>
Header unset X-Powered-By
Header set X-Frame-Options "SAMEORIGIN"
</IfModule>

# protect hidden directories
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule "(^|/)\." - [F]
</IfModule>

# redirect all to index (but not typical files which might be missing)
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !(favicon\.ico|robots\.txt|crossdomain\.xml|humans\.txt|apple-touch-icon.*\.png)$
RewriteRule ^(.*)$ index.php?%{QUERY_STRING} [PT,L]
</IfModule>

# charset
AddDefaultCharset utf-8
AddCharset utf-8 .html .css .js .xml .json .rss .atom

# prevent 404 errors
Options -MultiViews

# proper MIME types
AddType application/javascript         js
AddType audio/ogg                      oga ogg
AddType audio/mp4                      m4a
AddType video/ogg                      ogv
AddType video/mp4                      mp4 m4v
AddType video/webm                     webm
AddType image/svg+xml                  svg svgz
AddEncoding gzip                       svgz
AddType application/vnd.ms-fontobject  eot
AddType application/x-font-ttf         ttf ttc
AddType font/opentype                  otf
AddType application/x-font-woff        woff
AddType image/x-icon                   ico
AddType image/webp                     webp
AddType text/cache-manifest            appcache manifest
AddType text/x-component               htc
AddType application/x-chrome-extension crx
AddType application/x-xpinstall        xpi
AddType application/octet-stream       safariextz
AddType text/x-vcard                   vcf

# <IfModule mod_ssl.c>
# SSLVerifyClient require
# # match SSLVerifyDepth to server setting to avoid renegotiation
# SSLVerifyDepth 3
# SSLOptions +OptRenegotiate
# SSLRenegBufferSize 16777216
# <FilesMatch "\.(cgi|shtml|pl|asp|php)$">SSLOptions +StdEnvVars -FakeBasicAuth -ExportCertData -StrictRequire +OptRenegotiate</FilesMatch>
# </IfModule>